<hr>
<footer>
  <p>
    <a href="{{ base.url }}/about/">Fabián Arias</a> es un ingeniero comercial viviendo en <a href="http://es.wikipedia.org/wiki/Ñuñoa">Ñuñoa</a>, <a href="http://es.wikipedia.org/wiki/Chile">Chile</a>. Puedes seguirme en <a href="http://twitter.com/dewback/">Twitter</a>, ver mis fotografías en <a href="http://flickr.com/dewback/">Flickr</a> e incluso ver mis incursiones en <a href="http://github.com/dewback">GitHub</a>. Para el resto, visita <a href="http://fabianarias.com">el centro de mi universo</a>.
  </p>
</footer>
