---
layout: default
---

<article>
  <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%d %b" }}</time>
  <h2>{{ page.title }}</h2>
  {{ content }}
</article>
<p>Si leíste hasta acá, te sugiero <a href="http://twitter.com/dewback">seguirme</a> en Twitter.</p>
<hr>
<div id="paginator">
  {% if page.previous %}
    <a id="left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previas</a>
  {% endif %}
  {% if page.next %}
    <a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">Siguientes &rarr;</a>
  {% endif %}
</div>
{% include footer.html %}
